# globalVariables.js is a file that contains secrets. OUCH!
app-script/globalVariables.js
# Ignore everything in the secrets directory, except the README.md file
secrets/*
!secrets/README.md
!secrets/app-credentials.sample.json
!secrets/user-refresh-token.sample.json
!secrets/user-access-token.sample.json
node_modules/